<div class="permission permission-list-item">
    <div class="permission-cover">
        <div id='map{{ permission.id }}' style="height: 350px;"></div>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var lat = -20.524820 ;
                var lng = -54.599175 ;
                var map = L.map('map{{ permission.id }}').setView([lat, lng], 17);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                L.marker([lat, lng]).addTo(map);
            });
        </script>
    </div>
    <div class="permission-title-container">
        {% if is_detail_page is not True %}
        <a href='{% url 'permission:permission' permission.id %}'>
        {% endif %}
            <h2 class="permission-title"> Local: {{permission.location}}</h2>
        {% if is_detail_page is not True %}
        </a>
        {% endif %}
        <br>
        <h3 class="permission-subtitle">
            {{permission.description}}
        </h3>
    </div>
    <div class="permission-author">
        <span class="permission-author-item">
            <i class="fa-solid fa-file-import"></i>
            <span>Pedido: {{permission.order}}</span>
        </a>
        </span>
        <br>
        {% if permission.author is not None %}
            <span class="permission-author-item">
                <i class="fas fa-user"></i>
                {{permission.author.first_name}} {{permission.author.last_name}}
            </span>
        {% endif %}
        <br>
        {% if permission.reason.id is not None %}
            <span class="permission-author-item">
                <a href='{% url 'permission:interdiction' permission.reason.id %}'>
                    <i class="fas fa-layer-group"></i>
                    <span>{{ permission.reason }}</span>
                </a>
            </span>
        {% endif %}
    </div>
    <div class="permission-meta-container">
        <div class="permission-meta permission-preparation">
            <h3 class="permission-meta-title"><i class="fas fa-stopwatch"></i> Início</h3>
            <div class="permission-meta-text">
                {{ permission.date_start|date:"d/m/Y" }} às {{ permission.date_start|date:"H:i" }}
            </div>
        </div>
        <div class="permission-meta permission-servings">
            <h3 class="permission-meta-title"><i class="fa-solid fa-bell"></i> Fim</h3>
            <div class="permission-meta-text">
                {{ permission.date_end|date:"d/m/Y" }} às {{ permission.date_end|date:"H:i" }}
            </div>
        </div>
    </div>
    {% if is_detail_page is not True %}
        <footer class="permission-footer">
            <a class="permission-read-more button button-dark button-full-width" href="{% url 'permission:permission' permission.id %}">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
    {% endif %}
</div>