{% extends "global/base.html" %}

{% block title %}Login |{% endblock %}

{% block content %}
    <div class="main-content center container">
        <h2>
            Login
        </h2>
        {% if request.user.is_authenticated %}
            <div>
                Você esta logado com
                {{ request.user.username }}.
                Por favor,
                <form class="inline-form" action="{% url "authors:logout" %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ request.user.username }}">
                    <button class="paintext-button" type="submit">clique aqui </button>
                </form>
                para sair.
            </div>
        {% endif %}
    </div>

    {% include "partials/messages.html" %}
    {% include "partials/form.html" %}

{% endblock %}


                        